47-242-147-82.sslip.io {
	encode gzip

	@preflight method OPTIONS
	header @preflight Access-Control-Allow-Origin "*"
	header @preflight Access-Control-Allow-Methods "GET, POST, OPTIONS"
	header @preflight Access-Control-Allow-Headers "Content-Type"
	header @preflight Access-Control-Max-Age "86400"
	respond @preflight 204

	reverse_proxy 127.0.0.1:56999
}
